*{
padding: 0;
margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 80;
}


body {
    

    background-image: url(https://images.unsplash.com/photo-1578364249730-0c4ee16426fa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxODE0MTN8MHwxfGFsbHx8fHx8fHx8fDE3MDY4NjY5MTR8&ixlib=rb-4.0.3&q=80&w=1080);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000dvh;
    color: white;
}